@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .flip-card {
        background-color: transparent;
        margin-top: 4rem;
        margin-left: 3.5rem;
        width: 40rem;
        height: 28rem;
        perspective: 1000px;
        top: 10rem;
      
    }

    .my-image {
        max-width: 103% !important;
        height: auto;
        margin-top: -1rem !important;
        margin-left: 0rem !important;
      }

    .image-and-title {
        width: 42% !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
  
      .h1-text {
        margin-top: 0.5rem !important;
        margin-left: -7rem !important;
        font-size: 1.7rem;
        width: 200% !important;
        font-weight: 600;
        font-family: "Orbitron", sans-serif;
      }
  
      .front-text {
     
        p {
          margin-left: 1.7rem;
          font-weight: 400;
          font-size: 1.5rem !important;
        }
}

.flip-card-back {
    
    p {
        font-size: 1.3rem !important;
    }

  }

.my-button {
    font-size: 0.7rem !important;
  }
}