@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .flip-card {
    background-color: transparent;
    margin-top: 4rem;
    margin-left: 3.5rem;
    width: 40rem;
    height: 28rem;
    perspective: 1000px;
    top: 10rem;
  }

  .header-container h1 {
    font-size: 2rem;
  }

  .header-container h2 {
    font-size: 1rem !important;
  }

  .stat-item {
    margin-left: -13rem !important;

    svg {
      font-size: 1.8rem !important;
    }

    p {
      font-size: 0.9rem !important;
      margin-top: 0rem !important;
    }
  }

  .my-button {
    margin-top: -5rem !important;
  }

  .flip-card-back {
    p {
      font-size: 1rem !important;
      margin-bottom: 6rem !important;
      margin-top: -2rem !important;
    }
  }

  .my-button {
    font-size: 0.7rem !important;
  }
}

@media only screen and (max-width: 390px) {

  .flip-card {
    margin-top: 4rem;
    margin-left: 14.3rem;
    width: 20rem;
    height: 22rem;
    top: 10rem;
  }

  .header-container h1 {
    font-size: 1rem;
  }

  .header-container h2 {
    font-size: 0.8rem !important;
  }

  .stat-item {
    margin-left: -21.5rem !important;
    margin-bottom: -0.1rem !important;

    svg {
      font-size: 1rem !important;
      margin-top: 0rem;
    }

    p {
      font-size: 0.5rem !important;
      margin-top: 0rem !important;
    }
  }

  .my-button {
    font-size: 0.3rem !important;
    margin-top: -5rem !important;
  }

  .flip-card-back {
    p {
      font-size: 0.5rem !important;
      margin-bottom: 6rem !important;
      margin-top: -2rem !important;
    }
  }

}

@media only screen and (max-width: 360px) {

  .flip-card {
    margin-top: 4rem;
    margin-left: 14rem;
    width: 18rem;
    height: 22rem;
    top: 10rem;
  }

  .header-container h1 {
    font-size: 1rem;
  }

  .header-container h2 {
    font-size: 0.8rem !important;
  }

  .stat-item {
    margin-left: -21.5rem !important;
    margin-bottom: -0.1rem !important;

    svg {
      font-size: 1rem !important;
      margin-top: 0rem;
    }

    p {
      font-size: 0.5rem !important;
      margin-top: 0rem !important;
    }
  }

  .my-button {
    font-size: 0.3rem !important;
    margin-top: -5rem !important;
  }

  .flip-card-back {
    p {
      font-size: 0.5rem !important;
      margin-bottom: 6rem !important;
      margin-top: -2rem !important;
    }
  }

}

@media only screen and (max-width: 320px) {

  .flip-card {
    margin-top: 4rem;
    margin-left: 13rem;
    width: 18rem;
    height: 22rem;
    top: 10rem;
  }

  .header-container h1 {
    font-size: 1rem;
  }

  .header-container h2 {
    font-size: 0.8rem !important;
  }

  .stat-item {
    margin-left: -21.5rem !important;
    margin-bottom: -0.1rem !important;

    svg {
      font-size: 1rem !important;
      margin-top: 0rem;
    }

    p {
      font-size: 0.5rem !important;
      margin-top: 0rem !important;
    }
  }

  .my-button {
    font-size: 0.3rem !important;
    margin-top: -5rem !important;
  }

  .flip-card-back {
    p {
      font-size: 0.5rem !important;
      margin-bottom: 6rem !important;
      margin-top: -2rem !important;
    }
  }


}
