@media only screen and (max-width: 1680px) {
  .flip-card {
    background-color: transparent;
    margin-top: 4.5rem;
    margin-left: -10.2rem;
    width: 75rem;
    height: 48rem;
    perspective: 1000px;
  }

  .header-container h1 {
    font-size: 3.5rem;
  }

  .header-container h2 {
    font-size: 2rem !important;
  }

  .stat-item {
    margin-left: -3rem !important;
    margin-bottom: 2.5rem !important;

    svg {
      font-size: 2rem !important;
    }

    p {
      font-size: 1.7rem !important;
      margin-top: 0rem !important;
    }
  }

  .my-button {
    margin-top: -4rem !important;
  }

  .flip-card-back {
    p {
      font-size: 1.6rem !important;
      margin-bottom: 9rem !important;
      margin-top: -2rem !important;
    }
    h1 {
      font-size: 3rem !important;
      margin-bottom: 5rem !important;
    }
  }

  .my-button {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 1488px) {
  .flip-card {
    background-color: transparent;
    margin-top: 4rem;
    margin-left: -11.5rem;
    width: 70rem;
    height: 42rem;
    perspective: 1000px;
  }

  .header-container h1 {
    font-size: 3rem;
  }

  .header-container h2 {
    font-size: 2rem !important;
  }

  .stat-item {
    margin-left: -7rem !important;
    margin-bottom: 2.4rem !important;

    svg {
      font-size: 2rem !important;
    }

    p {
      font-size: 1.5rem !important;
      margin-top: 0rem !important;
    }
  }

  .my-button {
    margin-top: -6rem !important;
  }

  .flip-card-back {
    p {
      font-size: 1.6rem !important;
      margin-bottom: 9rem !important;
      margin-top: -2rem !important;
    }
    h1 {
      font-size: 3rem !important;
      margin-bottom: 5rem !important;
    }
  }

  .my-button {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 1366px) {
  .flip-card {
    background-color: transparent;
    margin-top: 7rem;
    margin-left: -11.5rem;
    width: 75rem;
    height: 48rem;
    perspective: 1000px;
  }

  .header-container h1 {
    font-size: 4rem;
  }

  .header-container h2 {
    font-size: 2.5rem !important;
  }

  .stat-item {
    margin-left: -7rem !important;
    margin-bottom: 2.4rem !important;

    svg {
      font-size: 3rem !important;
    }

    p {
      font-size: 2rem !important;
      margin-top: 0rem !important;
    }
  }

  .my-button {
    margin-top: -4rem !important;
  }

  .flip-card-back {
    p {
      font-size: 1.6rem !important;
      margin-bottom: 9rem !important;
      margin-top: -2rem !important;
    }
    h1 {
      font-size: 3rem !important;
      margin-bottom: 5rem !important;
    }
  }

  .my-button {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 820px) {
  .flip-card {
    background-color: transparent;
    margin-top: 17rem;
    margin-left: 0.5rem;
    width: 48rem;
    height: 38rem;
    perspective: 1000px;
    top: 10rem;
  }

  .header-container h1 {
    font-size: 2.5rem;
  }

  .header-container h2 {
    font-size: 1.5rem !important;
  }

  .stat-item {
    margin-left: -15.5rem !important;
    margin-bottom: 1.6rem !important;

    svg {
      font-size: 2.5rem !important;
    }

    p {
      font-size: 1.4rem !important;
      margin-top: 0rem !important;
    }
  }

  .my-button {
    margin-top: -5rem !important;
  }

  .flip-card-back {
    p {
      font-size: 1rem !important;
      margin-bottom: 9rem !important;
      margin-top: -2rem !important;
    }
    h1 {
      font-size: 2.3rem !important;
      margin-bottom: 5rem !important;
    }
  }

  .my-button {
    font-size: 0.7rem !important;
  }
}

@media only screen and (max-width: 430px) {

  .about-me {
    height: 120vh;
    position: relative;
    z-index: 0;
    background: #1A535C;
    color: #000000;
    padding: 200px 0 50px 0;
    justify-content: center;
    z-index: 1;
    background-color: #ffffff;
    background-attachment: fixed !important;
    background-position: center top;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23008080' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E") !important;
  }

  .flip-card {
    margin-top: 4rem;
    margin-left: 13rem;
    width: 25rem;
    height: 38rem;
    top: 10rem;
  }

  .header-container h1 {
    font-size: 1.6rem;
  }

  .header-container h2 {
    font-size: 1.2rem !important;
  }

  .stat-item {
    margin-left: -18rem !important;
    margin-top: 0rem !important;
    margin-bottom: 1.6rem !important;

    svg {
      font-size: 1.8rem !important;
      margin-top: -0.6rem;
    }

    p {
      font-size: 1rem !important;
      width: 50% !important;
      margin-top: 0rem !important;
    }
  }

  .my-button {
    font-size: 0.8rem !important;
    margin-top: -7rem !important;
  }

  .flip-card-back {
    p {
      font-size: 0.89rem !important;
      margin-bottom: 8rem !important;
      margin-top: -5rem !important;
      width: 93%;
    }

    h1 {
      font-size: 1.3rem !important;
      margin-bottom: 6.5rem !important;
    }
  }

}

@media only screen and (max-width: 420px) {

  .flip-card {
    margin-left: 12.6rem !important;
  }
  
}

@media only screen and (max-width: 410px) {

  .flip-card {
    margin-left: 12.3rem !important;
  }
  
}

@media only screen and (max-width: 400px) {

  .flip-card {
    margin-top: 4rem;
    margin-left: 12.5rem !important;
    width: 24rem;
    height: 34rem;
    top: 10rem;
  }

  .header-container h1 {
    font-size: 1.4rem;
  }

  .header-container h2 {
    font-size: 1rem !important;
  }

  .stat-item {
    margin-left: -18.5rem !important;
    margin-top: 0rem !important;
    margin-bottom: 1.6rem !important;

    svg {
      font-size: 1.6rem !important;
      margin-top: -0.6rem;
    }

    p {
      font-size: 0.8rem !important;
      width: 50% !important;
      margin-top: 0rem !important;
    }
  }

  .my-button {
    font-size: 0.8rem !important;
    margin-top: -6.5rem !important;
  }

  .flip-card-back {
    p {
      font-size: 0.89rem !important;
      margin-bottom: 8rem !important;
      margin-top: -5rem !important;
      width: 93%;
    }

    h1 {
      font-size: 1.3rem !important;
      margin-bottom: 6.5rem !important;
    }
  }

}

@media only screen and (max-width: 393px) {

  .flip-card {
    margin-top: 4rem;
    margin-left: 12.55rem !important;
    width: 23.5rem;
    height: 34rem;
    top: 10rem;
  }

  .header-container h1 {
    font-size: 1.4rem;
  }

  .header-container h2 {
    font-size: 1rem !important;
  }

  .stat-item {
    margin-left: -18.5rem !important;
    margin-top: 0rem !important;
    margin-bottom: 1.6rem !important;

    svg {
      font-size: 1.6rem !important;
      margin-top: -0.6rem;
    }

    p {
      font-size: 0.8rem !important;
      width: 50% !important;
      margin-top: 0rem !important;
    }
  }

  .my-button {
    font-size: 0.8rem !important;
    margin-top: -6.5rem !important;
  }

  .flip-card-back {
    p {
      font-size: 0.89rem !important;
      margin-bottom: 8rem !important;
      margin-top: -5rem !important;
      width: 93%;
    }

    h1 {
      font-size: 1.3rem !important;
      margin-bottom: 6.5rem !important;
    }
  }

}

@media only screen and (max-width: 390px) {

  .flip-card {
    margin-top: 4rem;
    margin-left: 12.6rem !important;
    width: 23rem;
    height: 34rem;
    top: 10rem;
  }

  .header-container h1 {
    font-size: 1.4rem;
  }

  .header-container h2 {
    font-size: 1rem !important;
  }

  .stat-item {
    margin-left: -18.5rem !important;
    margin-top: 0rem !important;
    margin-bottom: 1.6rem !important;

    svg {
      font-size: 1.6rem !important;
      margin-top: -0.6rem;
    }

    p {
      font-size: 0.8rem !important;
      width: 50% !important;
      margin-top: 0rem !important;
    }
  }

  .my-button {
    font-size: 0.8rem !important;
    margin-top: -6.5rem !important;
  }

  .flip-card-back {
    p {
      font-size: 0.89rem !important;
      margin-bottom: 8rem !important;
      margin-top: -5rem !important;
      width: 93%;
    }

    h1 {
      font-size: 1.3rem !important;
      margin-bottom: 6.5rem !important;
    }
  }

}

@media only screen and (max-width: 360px) {

  .flip-card {
    margin-top: 4rem;
    margin-left: 14rem;
    width: 18rem;
    height: 22rem;
    top: 10rem;
  }

  .header-container h1 {
    font-size: 1rem;
  }

  .header-container h2 {
    font-size: 0.8rem !important;
  }

  .stat-item {
    margin-left: -21.5rem !important;
    margin-bottom: -0.1rem !important;

    svg {
      font-size: 1rem !important;
      margin-top: 0rem;
    }

    p {
      font-size: 0.5rem !important;
      margin-top: 0rem !important;
    }
  }

  .my-button {
    font-size: 0.3rem !important;
    margin-top: -5rem !important;
  }

  .flip-card-back {
    p {
      font-size: 0.5rem !important;
      margin-bottom: 6rem !important;
      margin-top: -2rem !important;
    }
  }

}

@media only screen and (max-width: 320px) {

  .flip-card {
    margin-top: 4rem;
    margin-left: 13rem;
    width: 18rem;
    height: 22rem;
    top: 10rem;
  }

  .header-container h1 {
    font-size: 1rem;
  }

  .header-container h2 {
    font-size: 0.8rem !important;
  }

  .stat-item {
    margin-left: -21.5rem !important;
    margin-bottom: -0.1rem !important;

    svg {
      font-size: 1rem !important;
      margin-top: 0rem;
    }

    p {
      font-size: 0.5rem !important;
      margin-top: 0rem !important;
    }
  }

  .my-button {
    font-size: 0.3rem !important;
    margin-top: -5rem !important;
  }

  .flip-card-back {
    p {
      font-size: 0.5rem !important;
      margin-bottom: 6rem !important;
      margin-top: -2rem !important;
    }
  }


}
