.App {
  background-color: #2EC4B6;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

/* Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #005757;
  border-radius: 10px;
}



