.hero-section {
  position: relative;
  height: 110vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  
}

.hero-section {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  flex: 1;
  min-width: 400px;
  flex-shrink: 0;
}

.d-flex {
  flex: 1;
}

.hero-section::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -50%;
  height: 240px;
  width: 300%;
  background-color: #2EC4B6;
  transform: rotate(-4deg);
  z-index: 6;
}

.hero-section h1, .hero-section h2 {
  font-weight: 500;
  text-align: left;
  color: #FFFFFF;
}

.hero-section h1 {
  font-size: 6em;
  padding-left: 24rem;
  margin-top: -6rem;
  font-weight: 600;
}

.hero-section h2 {
  font-size: 2.5em;
  padding-left: 26rem;
  font-weight: 400;
}

.hero-section p {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 2.5em;
  margin: 2rem auto;
  width: 80%;
  min-height: 10rem;
}

.paragraph-box {
  padding: 20px;
  width: 120%;
  margin: 30px auto;
  text-align: center;
  margin-left: 2.3rem;;
}

.script {
  margin-left: 28rem;
  margin-top: -5rem;
}


.hero-section .btn {
  font-size: 1.2em;
  padding: 10px 30px;
  background-color: #FFFFFF;
  border: none;
  color: #2EC4B6;
  transition: all 0.5s ease;
}

.hero-section .btn:hover {
  background-color: #F0F0F0;
  color: #005757;
}

.hero-section .hero-text {
  flex: 1;
}

.hero-image {
  height: 81vh;
  width: 14%;
  top: -6rem;
  position: relative;
  left: 11rem;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  margin: 0.2rem;
  transition: all 0.3s ease-in-out;
  transform-origin: right center;
  overflow: hidden;
}

.hero-section .hero-image:hover {
  width: 37%;
}

.hero-section .hero-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}

.hero-section .hero-image.hero-image-1 {
  background: url('../assets/images/foodtruck.jpg') no-repeat center center/cover;
}

.hero-section .hero-image.hero-image-1::after {
  content: "";
  background: linear-gradient(to bottom, rgba(255,51,102,0.5), rgba(0,0,0,0));
  transition: opacity 0.6s ease-in-out;
}

.hero-section .hero-image.hero-image-1:hover::after {
  opacity: 0;
}

.hero-section .hero-image.hero-image-2 {
  background: url('../assets/images/gym.jpg') no-repeat center center/cover;
}

.hero-section .hero-image.hero-image-2::after {
  content: "";
  background: linear-gradient(to bottom, rgba(227, 255, 0, 0.5), rgba(0,0,0,0));
  transition: opacity 0.6s ease-in-out;
}

.hero-section .hero-image.hero-image-2:hover::after {
  opacity: 0;
}

.hero-section .hero-image.hero-image-3 {
  background: url('../assets/images/rest.jpg') no-repeat center center/cover;
}

.hero-section .hero-image.hero-image-3::after {
  content: "";
  background: linear-gradient(to bottom, rgba(143, 0, 255, 0.5), rgba(0,0,0,0));
  transition: opacity 0.6s ease-in-out;
}

.hero-section .hero-image.hero-image-3:hover::after {
  opacity: 0;
}

.hero-section .hero-image.hero-image-4 {
  background: url('../assets/images/website.jpg') no-repeat center center/cover;
}

.hero-section .hero-image.hero-image-4::after {
  content: "";
  background: linear-gradient(to bottom, rgba(255, 160, 0, 0.9), rgba(0,0,0,0));
  transition: opacity 0.6s ease-in-out;
}

.hero-section .hero-image.hero-image-4:hover::after {
  opacity: 0;
}

.hero-section .hero-image .hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  text-align: center;
  color: #FFFFFF;
  font-size: 3rem;
}

.hero-section .hero-image:hover .hover-text {
  opacity: 1;
}

.hero-image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.6s ease-in-out;
  z-index: 10;
}

.hero-image:hover .hero-image-caption {
  transform: translateY(0);
  opacity: 1;
}

.hero-image-1 .hero-image-caption {
  background-color: rgba(255, 51, 102, 0.9);
  font-size: 1.3rem;
}

.hero-image-2 .hero-image-caption {
  background-color: rgba(227, 255, 0, 0.9);
  color: black;
  font-size: 1rem;
}

.hero-image-3 .hero-image-caption {
  background-color: rgba(143, 0, 255, 0.9);
  font-size: 1rem;
}

.hero-image-4 .hero-image-caption {
  background-color: rgba(255, 160, 0, 0.9);
  font-size: 1rem;
  color: black;
}

.text-appear {
  animation: text-appear 1s linear forwards;
  opacity: 0;
}

@keyframes text-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 576px) {

  .hero-section {
    width: 90%;
  }

  .hero-section h1 {
    font-size: 2em;
    padding-left: 11rem;
    margin-top:0rem;
  }
  
  .hero-section h2 {
    font-size: 1.2rem;
    padding-left: 10rem;
  }

  .hero-image {
    height: 50vh;
    width: 14%;
    top: -10rem;
    left: 7.6rem;
  }

}
