@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .testimonials {
    height: 500vh;
  }

  .yours {
    align-items: flex-start;

    .message {
      margin-right: 10%;
      margin-left: -6rem;
      margin-top: -8rem;
    }
  }

  .testimonial-image {
    margin-top: 7rem;
  }

  .testimonial-image2 {
    margin-left: 3rem !important;
    margin-top: 25rem !important;
  }

  .testimonial-image3 {
    margin-top: 38rem;
    margin-left: 3rem;
  }

  .mine {
  
    .message {
     
      margin-left: 4%;
      margin-top: -7rem;
     

    }
}

  .others {
  
    .message {
      margin-left: 18%; // This was changed from margin-left
    }
}

}

@media only screen and (max-width: 390px) {

  .testimonials {
    height: 440vh;
  }

  .yours {
    align-items: flex-start;

    .message {
      margin-right: 10%;
      margin-left: -21rem;
      margin-top: 1rem;
      width: 18rem;
    }

    p {
      width: 15rem;
      font-size: 1.2rem !important;
    }

  }

  .testimonial-image {
    margin-top: 29rem;
    margin-left: 5rem;
    width: 13rem;
    height: 13rem;
  }

  .testimonial-image2 {
    margin-left: -15.4rem !important;
    margin-top: 46rem !important;
    width: 13rem;
    height: 13rem;
  }

  .testimonial-image3 {
    margin-top: 58rem;
    margin-left: 5rem;
    width: 13rem;
    height: 13rem;
  }

  .mine {
  
    .message {
     
      margin-left: 2.7rem;
      margin-top: -7rem;
      width: 18rem;
    }

    p {
      width: 15rem;
      font-size: 1.2rem !important;
    }
}

  .others {
  
    .message {
      margin-left: -2rem; // This was changed from margin-left
      margin-top: -10rem;
      width: 18rem;
    }

    p {
      width: 15rem;
      font-size: 1.2rem !important;
    }
}

}

@media only screen and (max-width: 360px) {

  .testimonials {
    height: 670vh;
  }

  .yours {
    align-items: flex-start;

    .message {
      margin-right: 10%;
      margin-left: -6rem;
      margin-top: 1rem;
    }
  }

  .testimonial-image {
    margin-top: 28rem;
    width: 10rem;
    height: 10rem;
  }

  .testimonial-image2 {
    margin-left: 0rem !important;
    margin-top: 65rem !important;
    width: 10rem;
    height: 10rem;
  }

  .testimonial-image3 {
    margin-top: 62rem;
    margin-left: 0rem;
    width: 10rem;
    height: 10rem;
  }

  .mine {
  
    .message {
     
      margin-left: 4%;
      margin-top: -7rem;
     

    }
}

  .others {
  
    .message {
      margin-left: 24%; // This was changed from margin-left
      margin-top: -10rem;
    }
}

}

@media only screen and (max-width: 320px) {

  .testimonials {
    height: 670vh;
  }

  .yours {
    align-items: flex-start;

    .message {
      margin-right: 10%;
      margin-left: -6rem;
      margin-top: -8rem;
    }
  }

  .testimonial-image {
    margin-top: 28rem;
    width: 10rem;
    height: 10rem;
  }

  .testimonial-image2 {
    margin-left: 0rem !important;
    margin-top: 65rem !important;
    width: 10rem;
    height: 10rem;
  }

  .testimonial-image3 {
    margin-top: 62rem;
    margin-left: 0rem;
    width: 10rem;
    height: 10rem;
  }

  .mine {
  
    .message {
     
      margin-left: 4%;
      margin-top: -7rem;
     

    }
}

  .others {
  
    .message {
      margin-left: 24%; // This was changed from margin-left
      margin-top: -10rem;
    }
}

}
